.input {
  height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
  color: black;
}

.result .tetx {
  flex: 1;
  font-size: 24px;
}

.symbol {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  flex: 1;
  margin: 4px;
  border-radius: 15px;
  background-color: rgba(36, 56, 44, 0.35);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  color: rgb(255, 255, 255);
}
